[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git@github.com:GerHobbelt/underscore.git
[submodule "vendor/backbone"]
	path = vendor/backbone
	url = git@github.com:GerHobbelt/backbone.git
[submodule "vendor/qunit"]
	path = vendor/qunit
	url = git@github.com:GerHobbelt/qunit.git
